---
import type { ComponentProps } from 'astro/types';
import Button from './Button.astro';

type Props = Omit<ComponentProps<typeof Button>, 'variant'>;
const props = Astro.props;
---

<Button {...props} variant="primary"><slot /></Button>
